<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.niuxin"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />
    
   <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.niuxin.MainActivity"
            
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.niuxin.NiuxinActivity"></activity>
        <activity android:name="com.example.niuxin.GunqunguangchangActivity"></activity>
        <activity android:name="com.example.niuxin.GushiriliActivity"></activity>
        <activity android:name="com.example.niuxin.MoreActivity"></activity>
        <activity android:name="com.example.niuxin.LiaotianActivity"></activity>
        <activity android:name="com.example.niuxin.TongxunluActivity"></activity>
        <activity android:name="com.example.niuxin.PengyouquanActivity"></activity>
        <activity android:name="com.example.niuxin.CreatequnActivity"></activity>
        <activity android:name="com.example.niuxin.ChatActivity"></activity>
        <activity android:name="com.example.niuxin.zixuan_addActivity"></activity>
        <activity android:name="com.example.niuxin.CollectActivity"></activity>
        <activity android:name="com.example.niuxin.ShareActivity"></activity>
        <activity android:name="com.example.niuxin.Tag_ManageActivity"></activity>
        <activity android:name="com.example.niuxin.SuoluetuActivity"></activity>
        <activity android:name="com.example.niuxin.yaoqingchengyuanActivity"></activity>

        <activity android:name="com.example.niuxin.kanpan_wudangActivity"></activity>
        <activity android:name="com.example.niuxin.edit_zixuanActivity"></activity>
        <activity android:name="com.example.niuxin.K_lineActivity"></activity>
        <activity android:name="com.example.niuxin.K_line_dayActivity"></activity>
        <activity android:name="com.example.niuxin.K_line_setActivity"></activity>

        <activity android:name="com.example.niuxin.FenleiActivity"></activity>
        <activity android:name="com.example.niuxin.ShoucangActivity"></activity>
        <activity android:name="com.example.niuxin.PaihangActivity"></activity>
        <activity android:name="com.example.niuxin.SearchuserActivity"></activity>
        

        
        

        <uses-library android:name="android.test.runner"/>  

    </application>

      <instrumentation android:targetPackage="com.example.niuxin" android:name="android.test.InstrumentationTestRunner" android:label="NiuXin"/> 
</manifest>
